*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --teal: #016367;
    --tealGreen: #01949A;
    --slate: #578384;
    --mistyBlue: #CFE0EA;

}
body{
    font-family: garamond, serif;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 1.5em;
    background-color: var(--tealGreen);
    
}

header{
    width: 100vw;
    min-height: 100px;
    ;
}
nav{
    width: 100vw;
    min-height: 40px;
    border-bottom: 3px solid var(--teal);
}

nav ul{
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    
    
    
}
nav ul li{
    min-width: 100px;
    min-height: 40px;
    padding-top: 10px;
    text-align: center;
}
nav ul li:hover{
    background-color: var(--teal);
}

nav ul li a{
    
    text-decoration: none;
    font-family: "bodoni", garamond, serif;
    font-size: 1.1em;
    font-weight: 600;
    color: #000;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
section{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: 2em;
}
#intro h1{
    margin-bottom: 1.3em;
}
#welcome h2{
    margin-bottom: 1.3em;
}
picture{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;

}

main{
    width: 75%;
    margin: auto;
    background-color: var(--mistyBlue);
    border-radius: 20px;
}
