*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --teal: #016367;
    --tealGreen: #01949A;
    --slate: #578384;
    --mistyBlue: #CFE0EA;

}
body{
    font-family: garamond, serif;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 1.5em;
    background-color: var(--tealGreen);
    
}

header{
    width: 100vw;
    min-height: 100px;
    
}
nav{
    width: 100vw;
    min-height: 40px;
    border-bottom: 2px solid var(--teal);
}

nav ul{
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: var(--mistyBlue);
    
    
    
}
nav ul li{
    min-width: 100px;
    min-height: 40px;
    padding-top: 10px;
    text-align: center;
}
nav ul li:hover{
    background-color: var(--teal);
}

nav ul li a{
    
    text-decoration: none;
    font-family: "bodoni", garamond, serif;
    font-size: 1.1em;
    font-weight: 700;
    color: #000;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
section{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: 2em;
}
#intro h1{
    margin-bottom: 1.3em;
}
#welcome h2{
    margin-bottom: 1.3em;
}
picture{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;

}

main{
    width: 75%;
    margin: auto;
    background-color: var(--mistyBlue);
    border-radius: 20px;
}


footer{
    margin-top: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12.5% 5px 12.5%;
    width: 100vw;
    max-height: 100px;
}

/* --mobile nav -- */

#mobileBox{
    width: 100%;
    text-align: center;
    
    
}

#mobileBox a{
    font-family: "bodoni", garamond, serif;
    font-size: 1.5em;
    color: var(--mistyBlue);
    font-weight: 700;
}
#ham{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    display: none;
    margin-left: 80%;
}

.bar{
    content: "";
    background-color: var(--mistyBlue);
    height: 6px;
    width: 27px;
    transition: all .5s ease;
    
}

#ham.open p:first-child{
    transform: rotate(45deg) translateY(10px) translateX(6px);
    
}



#ham.open p:nth-child(2){
    background-color: transparent;
    
}

#ham.open p:last-child{
    transform: rotate(-45deg) translateY(-10px) translateX(6px);
}



#mobileNav{
    transition: all .5s ease;
    height: 0;
    overflow: hidden;
    line-height: 4em;
}

@media all and (max-width: 500px ) 
{
    #ham{
        display: flex;

    }
    nav{
        display:none;
    }
    
}